<table>
    <thead>
        <th>Invité</th>
        <th>Email</th>
        <th>Détails</th>
    </thead>
    <% @attendees.each do |attendee| %>
        <tr>
            <td><%= attendee.user.full_name %></td>
            <td><%= attendee.user.email %></td>
            <td>
                <div class="btn btn-outline-info">
                    <i class="fas fa-user-check"></i>
                    <span> <%= link_to user_path(attendee.id) %> </span>
                </div>
            </td>
        </tr>
    <% end %>
    
</table>