<% content_for :title, "Espace Evénement" %>
<div class="container">
    <h1>Espace événement</h1>
    <br/>
    <table>
        <thead>
            <th>Invité</th>
            <th>Email</th>
            <th>Détails</th>
        </thead>
        <tbody>
            <% @attendees.each do |attendee| %>
                <tr>
                    <td><%= attendee.full_name %></td>
                    <td><%= attendee.email %></td>
                    <td class="text-center">
                        <%= link_to user_path(attendee.id) do %>
                            <i class="text-info fas fa-info-circle"> </i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div> <!--close cntainer -->

<%= link_to "Éditer l'évènement", edit_event_path(@event), class: 'btn btn-warning' %>